@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

:root {
  --hero-back: #fff;
  --logo-color: #173a56;
  --primary-color: #22343d;
  --btn-bck-color: #02897a;
  --background-color: #fff;
  --icon-color: #000;
  --back-color: #fff;
  --border: #efefef;
  --up-back: #22343d;
  --up-color: #fff;
  --background-image: url(../imgs/Bg.svg); 
  --back-image: url(../imgs/baccc.svg);
}

.dark {
  --background-color: #1f2e35;
  --back-color: #1f2e35;
  --hero-back: #29353b;
  --primary-color: #fff;
  --logo-color: #fff;
  --icon-color: #fff;
  --border: none;
  --up-back: #fff;
  --up-color: #22343d;
  --background-image: url(../imgs/Bg\ \(1\).svg);
  --back-image: url(../imgs/baccc2.svg)

}

#hero {
  background-color: var(--hero-back);
}

.site-header {
  padding: 19px 0;
}

.header__img {
  width: 40px;
  height: 36px;
  margin-right: 16px;
}
.header__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: var(--logo-color);
  text-transform: capitalize;
  text-decoration: none;
}

.header__nav {
  padding: 0;
  margin: 0;
}
.nav__list {
  list-style: none;
}
.nav__item {
   margin-right: 35px;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
}
.nav__link--active {
  font-weight: 600;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px;
  text-transform: capitalize;
  background-color: var(--btn-bck-color);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.header__btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: var(--logo-color);
  background-color: transparent;
  margin-right: 24px;
}
.header__sbtn {
  margin-right: 24px;
}
.header__mode {
  border: none;
  background-color: transparent;
}

.header__menu {
  border: none;
  background-color: transparent;
  display: none;
}

.bx-menu {
  font-size: 30px;
  color: var(--icon-color);
}

.menu-close {
  border: none;
  background-color: transparent;
  display: none;
}
.bx-x {
  color: var(--primary-color);
  font-size: 35px;
  
}

@media screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
  .site-header {
    background-color: var(--background-color);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }
  .header__menu {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75vw;
    min-height: 100vh;
    background-color: var(--back-color);
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
    z-index: 100;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 30px;
  }

  .nav__link {
    color: var(--primary-color);
    font-size: 25px;
    border-bottom: 2px solid var(--btn-bck-color);
  }
  .header__btn {
    color: var(--primary-color);
  }
  
  .header__mode {
    margin: 0 auto;
  }

  .show {
    top: 0;
    right: 0;
    transition: all 1s ease;
  }
  .hide {
    display: none;
  }

  .menu-close {
    z-index: 200;
  }
  .show-it {
    display: block;
  }

}


.hero__main {
  padding-top: 25px;
  margin-bottom: 100px;
}

.hero__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--primary-color);
  width: 518px;
  margin-bottom: 18px;
}
.hero__text {
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-color);
  width: 458px;
  margin-bottom: 45px;
}

.hero__btn {
  padding: 15px 41px;
  margin-right: 30px;
}
.hero__play {
  width: 20px;
  height: 17px;
  margin-right: 9px;
}
.hero__video {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--btn-bck-color);
}

.hero__img {
  width: 582px;
  height: 555px;
}

@media screen and (max-width: 992px) {
  .hero__inner {
    flex-direction: column-reverse;
  }

  .hero__img {
    margin-bottom: 21px;
  }

  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
  .hero__links {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .hero__inner {
    flex-direction: column-reverse;
  }

  .hero__img {
    width: 450px;
    margin-bottom: 21px;
  }

  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
  .hero__links {
    justify-content: center;
  }

  .lidar {
    position: absolute;
    top: 20px;
    right: 28%;
  }
}

@media screen and (max-width: 576px) {
  .hero__inner {
    flex-direction: column-reverse;
  }

  .hero__img {
    width: 336px;
    margin-bottom: 21px;
  }

  .hero__title {
    width: 369px;
    text-align: center;
  }
  .hero__text {
    width: 326px;
    text-align: center;
  }
  .hero__links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    text-align: center;
    margin-bottom: 20px;
  }
}

#product {
  background-image: var(--background-image);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;
}

.product__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--primary-color);
  width: 535px;
  margin-bottom: 57px;
}

.product__list {
  list-style: none;
  margin-bottom: 60px;
}
.prodcut__img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.product__desc {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;  
  color: var(--primary-color);
  margin-bottom: 13px;
}
.product__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
  width: 240px;
}

.product__btn {
  padding: 15px 33px;
  background-color: var(--btn-bck-color);
  border: none;
}


@media screen and (max-width: 992px) {
  .product__list {
    justify-content: center;
  }
  .product__item {
    width: calc(50% - 30px);
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .product__list {
    text-align: center;
  }
  .product__item {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .product__list {
    flex-direction: column;
    align-items: center;
  }
  .product__item {
    width: 50%;
  }
}

.management__main {
  padding-top: 169px;
}
.management__sub {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  color: var(--primary-color);
  margin-bottom: 8px;
}
.management__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--primary-color);
  margin-bottom: 131px;
}
.management__heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
  margin-bottom: 12px;
}
.management__txt {
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
  width: 486px;
  margin-bottom: 25px;
}
.management__img {
  width: 100%;
  height: auto;
}
.managment__inner {
  margin-bottom: 150px;
}

.titl {
  margin-bottom: 23px;
}
.texts {
  margin-bottom: 30px;
}

.management__add {
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
  width: 365px;
}

.management__clik {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}
.manag__box {
  margin-bottom: 30px;
}

.management__box {
  margin-bottom: 150px;
}

.bottom {
  margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
  .management__inner {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 30px;
  }
  .management__box {
    justify-content: center;
  }
  .management__img {
    margin-bottom: 50px;
  }
}

#user {
  padding-top: 50px;
  background-image: var(--back-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-bottom: 150px;
}
.user__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.user__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  color: var(--primary-color);
  width: 542px;
  margin-bottom: 32px;
}
.user__list {
  list-style: none;
  margin-bottom: 63px;
}

.user__item {
  margin-bottom: 24px;
}

.user__item:nth-child(2) {
  flex-direction: row-reverse;
  margin-left: 178px;
}
.user__item:nth-child(3) {
  flex-direction: row-reverse;
  margin-right: 191px;
}
.user__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;  
  color: #2f281e;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px 24px;
}

.user__img {
  margin-right: 16px;
  margin-left: 16px;
}

.user__btn  {
  padding: 15px 30px;
  border: none;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 992px) {
  .user__list {
    flex-direction: column;
  }
  .user__item {
    margin-bottom: 24px;
  }
  .user__item:nth-child(2) {
    margin-left: 0;
  }
  .user__item:nth-child(3) {
    margin-right: 0;
    flex-direction: row;
  }
  .user__item:nth-child(4) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 576px) {
  .user__text {
    width: 100%;
  }
}
.contents__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.contents__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.contents__list {
  list-style: none;
  margin-bottom: 64px;
}
.contents__item {
  background: #fff;
  border-radius: 8px;
  width: 348px;
  height: 360px;
  border: 1px solid var(--border);
}
.contents_img {
  width: 100%;
  height: 185px;
  margin-bottom: 24px;
}
.contents__sub {
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  margin-bottom: 12px;
}
.contents__span {
  font-weight: 700;
}
.contents__desc {
  color: #22343d;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  width: 294px;
  margin-bottom: 40px;
}

.desk {
  color: #02897a;
}

.contents__box {
  padding-left: 24px;
}

.contents__dot {
  width: 16px;
  height: 16px;
  background-color: #efefef;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.dot {
  background-color: #02897a;
}

#contents {
  margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
  .contents__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .contents__title {
    text-align: center;
  }
  .contents__text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contents__text {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

.pric__list {
  list-style: none;
}
.pric__item {
  width: 322px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 24px;
  margin-bottom: 50px;
  
}
.pric__desc {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}
.pric__txt {
  color: #22343d;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}
.pric__span {
  font-weight: bold;
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: #02897a;
  margin-right: 8px;
}
.pric__coast {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897a;
  margin-bottom: 4px;
}
.pric__date {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.pric__spans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.pric__sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;  
  letter-spacing: 0.2px;
  color: #22343d;
  margin-bottom: 16px;
  text-align: center;
}

.end {
  margin-bottom: 38px;
}
.pric__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 18px;
  border: none;
}
.pric__buttn {
  padding-bottom: 32px;
}

.pric__active {
  background-color: #02897a;
}

.active {
  color: #fff;
}
.btn__active {
  background-color: #fff;
  color: #02897a;
}

#pric {
  margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
  .pric__list {
    align-items: center;
    justify-content: center;
    gap: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .pric__list {
    justify-content: center;
    gap: 0;
  }
}
.add {
  font-weight: 500;
}

.client__list {
  list-style: none;
}
.client__item {
  background: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  width: 327px;
  padding: 28px 26px 23px;
}
.client__star {
  margin-bottom: 16px;
}
.client__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 16px;
}

.client__img {
  margin-right: 14px;
  object-fit: cover;
}
.client__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
}
.client__job {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;  
  color: #252b42;
}

#client {
  margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
  .client__list {
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .add {
    width: 400px;
  }
}

.card__box {
  width: 968px;
  background-color: #02897a;
  border-radius: 32px;
  padding: 0 50px;
  margin: 0 auto;
}
.card__intro {
  display: flex;
  align-items: center;
}
.card__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #fff;
  width: 510px;
  margin-bottom: 50px;
}
.card__btn {
  border: none;
  padding: 10px 33px;
  background-color: #fff;
  color: #02897a;
  border-radius: 8px;
}

.card__img {
  width: 371px;
  height: 351px;
  object-fit: cover;
}

#card {
  padding-bottom: 150px;
}

@media screen and (max-width: 992px) {
  .card__box {
    width: 850px;
  }
  .card__title {
    width: 450px;
  }
  .card__img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .card__box {
    width: 400px;
  }
  .card__intro {
    flex-direction: column;
  }
  .card__title {
    width: 328px;
  }
  .card__entry {
    text-align: center;
  }
  .card__btn {
    margin-bottom: 40px;
  }
  
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__icon {
  background-color: #edfffc;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 16px;
  color: #02897a;
}

.footer__list {
  list-style: none;
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 35px;
  color: var(--primary-color);
}
.footer__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 34px;
  width: 280px;
}
.footer__input {
  display: block;
  background: #fff;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  margin-bottom: 21px;
  padding-left: 10px;
}

.footer__input:focus {
  outline: none;
}
.footer__btn {
  border: none;
  padding: 8px 15px;
  margin-bottom: 16px;
}

.footer__end {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
  .footer__icons {
    margin-bottom: 30px;
  }
  .footer__list {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer__form {
    text-align: center;
  }
  .footer__text {
    margin: 0 auto;
    padding-bottom: 34px;
  }
}

.bx-up-arrow-alt {
  position: fixed;
  right: 25px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--up-back);
  color: var(--up-color);
}